html,body,div,h1,h2,h3,p,ul,li,a,span,i,audio,img{margin: 0;padding: 0;}
/*定义导航栏除了使用浮动还可把块元素Li设置为行元素*/
/*导航此处用的是*/
a{list-style: none;text-decoration: none;font-size: 16px;}
#wrap{width:1100px;background:#f7d7c2;margin: 0 auto;}
#nav{width:1100px;margin:0 auto;background: url(../img/navbanner.gif) 50px 0 no-repeat;height: 260px;}
#nav h1{font-weight:normal;color:#fff;font-size:36px;font-family: "微软雅黑";padding-top: 56px;padding-left:70px;padding-bottom: 18px;}
#nav h1{text-shadow:#3f2a0d 2px -2px 2px,#3f2a0d -2px 2px 2px,#3f2a0d 2px 2px 2px,#3f2a0d -2px -2px 2px;}
#nav h1{background: url(../img/bg.gif)0 0px no-repeat;opacity: 0.8;}
/*设置背景透明度，IE8以上采用filte设置*/



#nav p{padding-left:70px;font-size: 14px;font-family: "宋体";color: #fff;line-height:36px;text-shadow:#41403f -1px -1px 1px,#41403f 1px -1px 1px, #41403f -1px 1px 1px,#41403f -1px 1px 1px;}

#nav ul li:first-child{background:url(../img/li_ico.gif) 0 50% no-repeat;padding-left:50px;margin-left: 50px;}

#nav ul li{float: left;list-style: none;padding:13px;}
#nav ul li a{font-size: 14px;font-family: "宋体";color: #f6ecc9;font-weight: bold;}
#nav ul li a{text-shadow:#673830 1px 1px 2px,#673830 -1px 1px 2px,#673830 1px -1px 2px,#673830 -1px -1px 2px ;}
#nav ul li a i{display: none;}
#nav ul li:hover a span{display: none;}
#nav ul li:hover a i{display: block;font-style:inherit;}

#banner{width:1000px;height:192px;background: url(../img/banner.gif) 0 -5px repeat-x;margin: 0 auto;}
#banner .img{float: left;}
#banner img:first-child{margin:20px 22px 0px 54px;}
/*#banner img:nth-of-type(2){margin-bottom: 50px;}
#banner img:nth-of-type(3){margin: 10px 40px 15px 22px;}
IE兼容问题P可使用绝对定位*/
#banner .img_sec{margin-bottom: 50px;}
#banner .img_last{margin: 10px 20px 10px 22px;padding-right: 20px;}

#banner p{font-weight:bold;font-family: "MFlangQian_Noncommercial";font-size: 14px;color: #f6ecc9;line-height: 25px;margin-top: 43px;display: inline-block;}
#banner p{text-shadow:#673830 1px 1px 2px,#673830 -1px 1px 2px,#673830 1px -1px 2px,#673830 -1px -1px 2px ;}

#banner p{filter:dropshadow(color=#673830,offx=2,offy=2,offx=-2,offy=-2,position=0)}
#banner p{filter:glow(color=#673830,Strength=3);}
/*IE兼容问题*/
#timelines{text-align: center;width: 1000px;padding: 30px 0 30px 0;}
#timelines h2{color:#fff;text-shadow: #ddb699 1px 1px 3px,#ddb699 1px -1px 3px,#ddb699 -1px 1px 3px,#ddb699 -1px 1px 3px;font-size: 24px;position: relative;top:10px;left: -70px;}
#timelines img{width:1000px;margin-left:50px;}
.list{position: relative;}
.list i{width: 20px;height:20px;background:url(../img/bg.png) no-repeat;display: block;position: absolute;top:-14px;opacity: 0;}
.list:nth-of-type(1) i,.list:nth-of-type(1) b,.list:nth-of-type(1) p{ left: 130px;}
.list:nth-of-type(2) i,.list:nth-of-type(2) b,.list:nth-of-type(2) p{ left: 260px;}
.list:nth-of-type(3) i,.list:nth-of-type(3) b,.list:nth-of-type(3) p{ left: 560px;}
.list:nth-of-type(4) i,.list:nth-of-type(4) b,.list:nth-of-type(4) p{ left: 780px;}
.list:nth-of-type(5) i,.list:nth-of-type(5) b,.list:nth-of-type(5) p{ left: 920px;}
 
.list b{font-size: 14px;font-weight:normal;color: rgb(224,75,75);position: absolute;top:30px;opacity: 0;}
.list p{font-size: 12px;color: #fff;position: absolute;top:-90px;opacity:0;background: url(../img/bg2.png) 0 0px no-repeat;width: 90px;height: 60px;line-height:30px;text-align: center;}
#content{width: 1000px;margin: 0 auto;position: relative;}
.contR{position:absolute;left: 310px;top:0px;}
.sidebar_box_1,.sidebar_box_2,.sidebar_box_3,.sidebar_box_4{border: 1px solid #dad8d7;width: 277px;background:#fae2d5;}
.box_nav{width: 277px;height: 147px;margin-bottom: 20px;}
.sidebar h3{background:#f8eadf;font-size: 14px;font-weight: bold;font-family: "微软雅黑";text-indent: 1em;height: 30px;line-height: 30px;}
.box_nav p{padding: 25px 10px 16px 100px;}
.box_nav span{font-size: 12px;font-family: "宋体";color:#565656; line-height: 24px;}
.sidebar_box_1 p{background:url(../img/sidebarbox1.gif) no-repeat 5px 15px ;}
.sidebar_box_2 p{background:url(../img/sidebarbox1.gif) no-repeat 5px -91px;}
#content .sidebar ul{padding:14px 0px 25px 15px;}
#content .sidebar ul li{list-style: none;background:url(../img/li_ico2.gif)0 10px no-repeat ;padding-left:15px;}
#content .sidebar ul li a{color: #555;font-family:"宋体";font-size: 12px;line-height: 24px;}
.sidebar_box_4{margin-top: 27px;}
.zhuanji{background: url(../img/redio.gif) 10px 10px no-repeat;padding-bottom: 35px;}
.sidebar_box_4 p{color: #797b7c;font-family: "宋体";font-size: 12px;line-height: 24px;background: url(../img/redio_ico.gif) 0px 0px no-repeat;margin-left: 110px;padding-left:30px;display: inline-block;}
.sidebar_box_4 p:first-child{margin-top: 15px;}
.sidebar_box_4 audio{padding:5px 11px;width:254px; height:20px;}
.contR_box{margin-bottom:19px;width: 690px;height:150px;background: #fae2d5 url(../img/cont.gif) no-repeat;border: 1px solid #dad8d7;}
.contR_box_1{background-position:520px 20px ; }
.contR_box_2{background-position:520px -134px ; }
.contR_box_3{background-position:520px -295px ; }
.contR_box_4{background-position:520px -480px ;}
.contR_box_5{background-position:520px -480px ; margin-top:25px;}
.contR_box h2{line-height:42px;font-size: 18px;font-weight: normal;font-family: "微软雅黑";color: #b6805c;background: url(../img/love.gif) 10px 50% no-repeat;padding-left:70px;}
.contR_box h2{text-shadow:#fff 1px 1px 1px,#fff 1px -1px 1px,#fff -1px 1px 1px,#fff -1px -1px 1px;}
.contR_box p{color: #797b7c;font-family: "宋体";font-size: 12px;padding-left: 20px;line-height: 25px;width: 460px;}
#footer{width: 1100px;margin-top: 55px;background: #000;}
#footer p{color: #fff;font-size: 16px;font-family: "微软雅黑";line-height: 40px;text-indent: 880px;}